@import "katex/dist/katex.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
.dark { color-scheme: dark; }
body { margin: 0; font-family: "Times New Roman", Times, serif; }
.katex-display { margin: 0; }
